@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*vanilla css*/
:root {
  font-size: 100%;
}

/*header element*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.disable-scroll {
  overflow: hidden !important;
}

/*images intheproduct description*/
object-fit-class {
  object-fit: contain;
}
